<app-loading></app-loading>
<div class="row">
  <div class="mt-4" *ngIf="images.length > 0">
    <ngx-masonry [options]="masonryOptions"  [ordered]="true" style="width: 90vw"  (itemsLoaded)="itemsLoaded()" >
      <div ngxMasonryItem *ngFor="let item of images" style="width:200px;" class="mt-4">
        <div class="card">
          <app-album-picture-component (click)="onShowImage(item, $event)" style="text-align: center;" [id]="item.id" default="/assets/profile/avatar_2x.png" imgclass="avatar img-circle img-thumbnail"></app-album-picture-component>

          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.description}}</p>
          </div>
        </div>
      </div>
    </ngx-masonry>
    <button class="btn btn-primary" (click)="handleClickMore($event)">More</button>
  </div>
</div>
