<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div id="legend">
        <legend class="">Register</legend>
      </div>

      <div *ngIf="userIsCreatedSuccessfully; else userCreationElse" class="alert alert-primary" role="alert">
           Registration is completed successfully!
      </div>
      <ng-template #userCreationElse>
        <ng-container *ngIf="mForm.valid && dataIsSent">Username or password already exists.</ng-container>
      </ng-template>


      <form [formGroup]="mForm" (ngSubmit)="onSubmit()">
        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              id="username"
              type="text"
              class="form-control"
              [class.is-invalid]="invalidUserName || mForm.get('userName')?.touched && !mForm.get('userName')?.valid"
              formControlName="userName"
              required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input
              id="password"
              type="password"
              class="form-control"
              [class.is-invalid]="mForm.get('userPassword')?.touched && !mForm.get('userPassword')?.valid"
              formControlName="userPassword"
              required>
          </div>
          <div class="form-group">
            <label for="password_re">Password again:</label>
            <input
              id="password_re"
              type="password"
              class="form-control"
              [class.is-invalid]="mForm.get('userPasswordRE')?.touched && mForm.get('userPasswordRE')!.errors && mForm.get('userPasswordRE')?.errors?.invalid === true"
              formControlName="userPasswordRE"
              required>

              <span *ngIf="mForm.get('userPasswordRE')?.touched && mForm.get('userPasswordRE')!.errors" class="help-block">
              <span *ngIf="mForm.get('userPasswordRE')?.errors?.invalid === true" class="invalid-feedback d-block">The passwords you entered do not match.</span>
            </span>

          </div>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              id="email"
              type="email"
              [class.is-invalid]="mForm.get('userMail')?.touched && !mForm.get('userMail')?.valid"
              class="form-control"
              formControlName="userMail"
              required>
          </div>

          <div class="form-group">
            <label for="firstname">First name:</label>
            <input
              id="firstname"
              type="text"
              class="form-control"
              [class.is-invalid]="mForm.get('firstName')?.touched && !mForm.get('firstName')?.valid"
              formControlName="firstName"
              required>
          </div>

          <div class="form-group">
            <label for="lastname">Last name:</label>
            <input
              id="lastname"
              type="text"
              class="form-control"
              [class.is-invalid]="mForm.get('lastName')?.touched && !mForm.get('lastName')?.valid"
              formControlName="lastName"
              required>
          </div>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!mForm.valid || invalidUserName">Submit</button>
      </form>
    </div>
  </div>
  <hr>
</div>
