<app-table-component #table [datatable]="dataTable">
  <table class="table table-striped">
    <thead>
    <tr>
    </tr>
    </thead>
    <tbody>
          <tr *appDataRow="let row; columns: dataTable.displayedHeaders">
               <td *ngFor="let column of dataTable.displayedColumns"
                  (click)="onItemClicked(row,column,$event)"  >{{row[column]}}</td>
          </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="table.collectionSize" [(page)]="table.page" [pageSize]="table.pageSize" (pageChange)="table.pageChange()"></ngb-pagination>
 </div>



</app-table-component>
