<div class="row">


  <div class="col-sm-12">
    <h1>Album form</h1>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12">
  <app-dialog-component *ngIf="error" title="Error" [body]="error.message"></app-dialog-component>
  <app-dialog-component *ngIf="response" title="Album is created successfully" body="Album is created successfully"></app-dialog-component>
  <form [formGroup]="mForm" (ngSubmit)="onSubmit($event)">
    <div class="row">
        <div class="col-sm-6">
          <label for="albumName">Album name:</label>
          <input
            id="albumName"
            type="text"
            class="form-control"
            [class.is-invalid]="mForm.get('albumName')?.touched && !mForm.get('albumName')?.valid"
            formControlName="albumName"
            required />
        </div>
        <div class="col-sm-6">
          <label for="albumType">Album type:</label>
          <input
            id="albumType"
            type="text"
            class="form-control"
            [class.is-invalid]="mForm.get('albumType')?.touched && !mForm.get('albumType')?.valid"
            formControlName="albumType"
            required />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 form-group">
          <label for="description">Description:</label>
          <textarea
            id="description"
            type="text"
            class="form-control"
            [class.is-invalid]="mForm.get('description')?.touched && !mForm.get('description')?.valid"
            formControlName="description"
            required></textarea>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-primary" type="submit" [disabled]="!mForm.valid">Submit</button>
        </div>
    </div>

</form>
</div>
</div>
